@charset "utf-8";
body,main,header,section,footer,hgroup,nav,h1,div,a,ul,li{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
main,header,section,footer{
    width: 100%;
}
header{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
header div.top_bar{
    width: 100%;
    height: 44px;
    color: #fff;
    background-color: #d43d3d;
}
header div.top_bar h1{
    font: 700 16px/44px "微软雅黑";
    text-align: center;
}
