html,body,main,header,hgroup,section,span,div,ul,li,a{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body,main,header,hgroup,section，ul{
    width: 100%;
}
li,ul{
    list-style-type: none;
}
header{
    height: 50px;
    position: relative;
    background-color: #d43d3d;
    color: #fff;
}
header a[href]{
    color: #fff;
    text-decoration: none;
}
.title {
    display: block;
	text-align: center;
    width: 100%;
    font: 16px/50px "微软雅黑";
}
.backBtn{
    display: block;
    width: 44px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.backBtn a{
    display: inline-block;
    width: 50%;
    height: 50%;
    margin-top: 25%;
    background: url(../img/header_back.png) no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    color: rgba(255, 255, 255, 0);
}
hgroup section span{
    display: block;
    padding: 0 10px;
    line-height: 2em;
    background-color: #f5f5f5;
    font-size: 12px;
    color: #666;
    clear: both;
}
section a{
    text-decoration: none;
    background-color: #f0f0f0;
    font-size: 16px;
    display: block;
    margin: 0 8px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    color: #131313;
}
section ul li{
    display: inline-block;
    width: 25%;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-animation: zoomIn .3s ease;
    animation: zoomIn .3s ease;
    float: left;
}